#signup-form {
    width: fit-content;
    max-height: fit-content;
    margin-top: 30vh;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: pink;
    justify-content: center;
    border-radius: 9px;
    }


#username {
    margin: 10px;
    height: 5vh;
    width: 35vw;
}
#email {
    margin: 10px;
    height: 5vh;
    width: 35vw;
}

#password {
    margin: 10px;
    height: 5vh;
    width: 35vw;
}

#signup { 
    margin: 13px;
    height: 5vh;
    width: 35vw;
    color: white;
}